body {
    background-color: #eceff1;
}
.container1 {
    padding: 20px 10px 5px 10px ;
}
header, main, footer {
    padding-left: 0px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    nav .nav-wrapper {
        text-align: center;
    }
}
@media only screen and (min-width : 993px) {
    .container {
        width: 85%;
    }
}
nav {
    background-color: #039be5;
}

/*font debut*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
/*font fin*/

/* side-nav debut*/
.side-nav {
    width: 240px;
    height: 100%;
    background-color: #37474f;
}
.side-nav li > a {
    padding: 0 16px;
    color: rgba(255, 255, 255, 0.5);
}
.side-nav li > a > i, .side-nav li > a > i.material-icons {
    color: rgba(255, 255, 255, 0.5);
}
.side-nav li > a:hover {
    background-color: #263238 !important;
}
.side-nav li.active a.collapsible-header {
    color: #ffffff;
    background-color: #263238;
}

.side-nav li.active a.no-child, .side-nav li.active a.no-child>i {
    color: #ffffff;
    background-color: #00c863 !important;
}

.side-nav li.active a.collapsible-header > i, .side-nav li.active a.collapsible-header > i.material-icons {
    color: #ffffff;
}
.collapsible-header::after {
    font-family: "Material Icons";
    content: "chevron_right";
    float: right;
    color: #9e9e9e;
    font-size: 18px;
}
.side-nav li.active a.collapsible-header::after {
    font-family: "Material Icons";
    content: "expand_more";
    float: right;
    color: #9e9e9e;
    font-size: 18px;
}
.side-nav .collapsible-body, .side-nav.fixed .collapsible-body {
    background-color: #37474f;
}
.collapsible-body li.active, .collapsible-body li.active a:hover {
    color: #ffffff;
    background-color: #00c823 !important;
}
.collapsible-body li.active {
    color: #ffffff;
    background-color: #00c863 !important;
}
.collapsible {
    border: 0;
}
.logo {
    line-height: 70px;
    text-align: center;
}
img.circle {
    margin: 20px auto;
    border: 10px solid #00c863;
    vertical-align: bottom;
}

.side-nav li > a > i.material-icons {
    margin-right: 10px;
}
/* side-nav fin*/

/* top-nav debut*/
nav.top-nav {
    height: 70px;
    box-shadow: none;
}
nav.top-nav a.page-title {
    line-height: 70px;
    font-size: 32px;
}
a.button-collapse.top-nav.full {
    line-height: 70px;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 0%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}
/* top-nav fin*/

/* main debut */
.header {
    color: #039be5;
    font-weight: 300;
    font-size: 2.0rem;
}
.row {
    background-color: #ffffff;
}

h2.header a.btn {
    height: 26px;
    line-height: 26px;
    padding: 0 1rem;
}

.modal {
    max-height: 100%;
}

.modal-footer button {
    height: 30px;
    line-height: 30px;
    padding: 0 1rem;
    margin-right: 5px !important;
}
input[value="Filtrer"] {
    height: 36px;
    line-height: 36px;
    padding: 0;
}
.modal-footer {
    width: 85% !important;
}

li>.btn-floating i {
    line-height: 30px;
}
.divider {
    margin-bottom: 5px;
}

.label, .label:focus {
    color: #9e9e9e !important;
}

/* label color */
.input-field label {
    color: #4caf50;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=number]:focus + label{
    color: #4caf50;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=number]:focus, .input-field textarea.materialize-textarea:focus, label>input[aria-controls=liste]:focus:not([readonly]) {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
/* valid color */
.input-field input[type=text].valid, .input-field input[type=number]:focus {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #4caf50;
}

.my-card {
    padding: 6px 24px;
    display: block !important;
}

.my-card .isa {
    font-weight: 600;
    font-size: 34px;
}

.my-card .soratra {
    font-weight: 500;
}

td a.btn {
    padding: 0 10px;
}

td.input-field {
    padding: 5px;
}

.btn-resultat{
    height: 43px;
    line-height: 43px;
    padding: 0 1rem;
}

.btn-resultat > i{
    font-size: 1.7rem;

}

/* main fin */